doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sports Classes
    style.
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
  body
    h1 Sports Classes
    table
      thead
        tr
          th Sport name
          th Age group
          th Day of week
          th Date
          th Max capacity
          th Start
          th End
          th Duration (mins)
          th Class description
      tbody
        each item in classes
          tr
            td= item.sport.name
            td= item.ageGroup.name
            td= item.dayOfWeek
            td
              script.
                function formatDate(dateString) {
                  const date = new Date(dateString);
                  return date.toLocaleDateString('en-US');
                }
                document.write(formatDate("#{item.startTime}"))
            td= item.maxCapacity
            td= item.startHour 
            td= item.endHour
            td= item.duration
            td
              if item.description !== null && item.description !== undefined
                p= item.description
              else
                p= ''
